{% extends "base.html" %}

{% block title %}SIME{% endblock %}

{% block content %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-12">
            <h3>SIME (Sistema de Inventarios para Micro Emprendimientos)</h3>
            <p class="text-justify">
                Existe una gran diversidad de productos, elaborados no solo por empresas, sino, por personas que buscan solucionar algún problema de su diario vivir. En algunos casos, dichas soluciones se transforman en ideas de micro emprendimiento  que buscan iniciar un negocio de pequeña escala, con poca inversión y en donde la cantidad de empleados es muy pequeña o nula. Para dichos negocios emergentes, hoy en día, existe un sin fin de herramientas tecnológicas, como las redes sociales, que ayudan en la comercialización de sus ideas. Sin embargo en lo que refiere a los procesos de producción de productos el software es limitado y de gran costo.
            </p>
            <p class="text-justify">
                El control y la gestión de costos en la elaboración de productos, suelen ser procesos tediosos que involucran personal especializado. Comúnmente dichos procesos son realizados de forma manual, lo que dificulta su consulta, administración y proyección.
            </p>
            <p class="text-justify">
                La herramienta implementada, se basa en el diseño y desarrollo de varios módulos, donde el usuario tiene la posibilidad de parametrizar el o los productos, indicándole al sistema la materia prima y mano de obra necesaria para la elaboración de este, además de los costos que implican. Adicionalmente la herramienta lleva un control de inventario, además de la gestión de los procesos de compra y venta.
            </p>
        </div>
    </div>

</div>

{% endblock %}