<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <script src="https://kit.fontawesome.com/916d4c002e.js"></script>

    <style>
    
        .navbar.bg-purple{
            background-color: #563d7c;
        }

        #contenedor_principal{
            top: 56px; bottom: 0;
        }

    </style>

    <header class="navbar navbar-dark bg-purple navbar-expand sticky-top">

        <a class="navbar-brand" href="#">SIME</a>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio <i class="fas fa-home"></i></a>
                </li>
            </ul>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/AndresBayuelo/sime.git"><i class="fab fa-github"></i></a>
            </li>
        </ul>

        <span class="navbar-text">
            v1.0
        </span>

    </header>
    
    <div class="container-fluid position-absolute" id="contenedor_principal">
        
        <div class="row align-items-center h-100">
            <div class="col">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>